body {
  margin: 0 auto;
  max-width: 1920px;
  background-image: none;
}

[data-custom-class='body'],
[data-custom-class='body'] * {
  background: transparent !important;
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/poppins-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/poppins-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/poppins-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/poppins-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

[data-custom-class='title'],
[data-custom-class='title'] * {
  font-family: 'Poppins' !important;
  font-size: 26px !important;
  color: #000000 !important;
}

[data-custom-class='subtitle'],
[data-custom-class='subtitle'] * {
  font-family: 'Poppins' !important;
  color: #595959 !important;
  font-size: 14px !important;
}

[data-custom-class='heading_1'],
[data-custom-class='heading_1'] * {
  font-family: 'Poppins' !important;
  font-size: 19px !important;
  color: #000000 !important;
}

[data-custom-class='heading_2'],
[data-custom-class='heading_2'] * {
  font-family: 'Poppins' !important;
  font-size: 17px !important;
  color: #000000 !important;
}

[data-custom-class='body_text'],
[data-custom-class='body_text'] * {
  color: #595959 !important;
  font-size: 14px !important;
  font-family: 'Poppins' !important;
}

[data-custom-class='link'],
[data-custom-class='link'] * {
  color: #3030F1 !important;
  font-size: 14px !important;
  font-family: 'Poppins' !important;
  word-break: break-word !important;
}

header {

margin-bottom: 10rem;
  background-color: #f8d6d2e8;
  margin-bottom: 40px;

}

header img {
  width: 75px;
}

.logo {
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}


footer {

  bottom: 0;
  width: 100vw;
  background-color: #A8A8AB;
  color: #fff;
  padding: 4px 0;
  text-align: center;
  max-width: 1920px;
  font-family: 'Poppins';

}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

}

/* Added media query for mobile responsiveness */
@media screen and (max-width: 768px) {
  main {
    margin-top: 0px;
  }

  header {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }


  header img {
    width: 75px;
  }

  footer {
    margin-top: 2rem;
    padding: 5px;
  }


}