/* Global styles */
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins';
  background: linear-gradient(to right, #B79496, #e6b9b8);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  min-height: 100vh;
  /* Ensure the body takes at least the viewport height */
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  /* The wrapper will grow to fill the available space */
}

.container {
  display: flex;
  flex-direction: column;
  
  margin: 0 auto;
  background: url("assets/background.webp") bottom/cover no-repeat;
  width: 100%;

  max-width: 1920px;

}

main {
  text-align: center;
  margin: auto;

}

.description {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  margin: auto;
  text-align: center;
  margin-bottom: 5rem;
  max-width: 70%;
}

.logo {
  transition: transform 0.3s;
  width: 50px;
  height: 50px;
}

.logo:hover {
  transform: scale(1.1);
}

header {
  padding: 2rem;
}

header img {
  width: 60px;
}

h1 {
  color: #eeeeee;
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins';
  font-weight: 800;
}

h2 {
  color: #1d1d1d;
  font-size: 2rem;
  font-weight: regular;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Poppins';
}

p {
  color: #3b3b3b;
  font-size: 18px;
  font-weight: light;
  margin: auto;
  text-align: center;

  font-family: 'Poppins';
}

.links {
  margin-top: 20px;
}

.links a {
  display: inline-block;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;


  /* Push the footer to the bottom of the container */
}

.footer-content {
  display: flex;
  justify-content: center;

  font-family: 'Poppins';
}



footer a {
  color: #ffffffca;
  text-decoration: none;
}

.app-store-button,
.google-play-button {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.2s;
}

.google-play-button img {
  width: 222px;
  height: 125px;
  object-fit: contain;
}

.app-store-button img {
  width: 200px;
  height: 125px;
  object-fit: contain;
}

.app-store-button:hover,
.google-play-button:hover {
  transform: scale(1.1);
}

.glass-container {
  display: flex;
  flex-direction: column;
  
  /* Ensure the frosted glass container is on top */
  background: linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(219, 219, 219, 0.517));
  border-radius: 35px;
  padding: 20px;
  backdrop-filter: blur(20px);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.358), 0 0 50px rgba(0, 0, 0, 0.1);
}

.store-button-container {
  display: flex;

  justify-content: center;
  align-items: center;


}

/* Added media query for mobile responsiveness */
@media screen and (max-width: 768px) {

  .logo {
    transition: transform 0.3s;
    width: 30px;
    height: 30px;
  }

  header {
    padding: 1rem;
  }



  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    text-align: center;
  }

  .container {



    margin: 0 auto;

    background: url("assets/background.webp") bottom/cover no-repeat;
    width: 100%;
    height: 100vh;

  }

  .google-play-button img {
    width: 12rem;
    
  }

  .app-store-button img {
    width: 11rem;
    
  }

  .glass-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: none;
    backdrop-filter: blur(8px);
    width: 90%;


  }

  .description {
    max-width: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
  }


  footer {
    position: relative;
    margin-top: 200px;


    /* Push the footer to the bottom of the container */
  }
}