body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #B79496, #e6b9b8);
}

.container {
  position: relative;
  margin: 0 auto;
  background: url("assets/background.webp") bottom/cover no-repeat;
  max-width: 1920px;
  max-height: 1080px;
}

.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 1920px;
  height: 0.1rem;
  background-color: #646464;
}

.description {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 3rem;
  max-width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 5rem;
}

.logo {
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}


header {
  padding: 0;
 
}

header img {
  width: 150px;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  min-height: 100vh;
  text-align: center;

}




h1 {
  color: #eeeeee;
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #1d1d1d;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  color: #3b3b3b;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;

  margin: auto;
  text-align: center;
 
}

.links {
  margin-top: 20px;
}

.links a {
  display: inline-block;
  text-align: center;
}

footer {

  bottom: 0;
  width: 100vw;

  color: #fff;

  text-align: center;
  max-width: 1920px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 8px;
}

.copy-right {
  flex: auto;


}

footer a {
  color: #fff;
  text-decoration: none;

}


.app-store-button,
.google-play-button {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.2s;
}

.google-play-button img {
  width: 222px;
  height: 125px;
  object-fit: contain;
}

.app-store-button img {
  width: 200px;
  height: 125px;
  object-fit: contain;
}
.app-store-button:hover,
.google-play-button:hover {
  transform: scale(1.1);
}

.glass-container {
  position: relative;
  z-index: 1;
  /* Ensure the frosted glass container is on top */
  background: linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(219, 219, 219, 0.517));
  border-radius: 35px;
  padding: 20px;
  backdrop-filter: blur(15px);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.358), 0 0 50px rgba(0, 0, 0, 0.1);
}

/* Added media query for mobile responsiveness */
@media screen and (max-width: 768px) {
  main {
    margin-top: 0px;
  }

  header {
    padding: 0;
   
  
  }
  header img {
    width: 75px;

  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
  }


  .google-play-button img {
    width: 182px;
    height: 85px;   
  }

  .app-store-button img {
    width: 165px;
    height: 85px;
  }

  .glass-container {    
    width: 70%; 
  }

  .description {
 
    max-width: 100%;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;

  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  footer {
    margin-top: 200px;
    flex-shrink: 0;
  }
  
  
 }